<h1>home</h1>
<%= render partial: 'locations/map', locals: { current_location: @current_location } %>
<%= render partial: 'orders/order_feed', locals: { orders: @orders } %>
<%= render partial: 'chats/chat_window', locals: { chat: @chat, user: @user } %>