<h1>Admin</h1>

<%= button_to "Create Location", 				{ controller: 'static_pages', action: 'admin_location' }, method: :post %>
<%= button_to "Create Order", 					{ controller: 'static_pages', action: 'admin_order' 	 }, method: :post %>
<%= button_to "Send Deliverer Message", { controller: 'static_pages', action: 'admin_message'  }, method: :post %>
