<div class='section'>
	<h2>Nearby Orders</h2>
	<div id='feed'>
		<% orders.each do |order|%>
			<div class='order_feed_display'>
				<p style='font-size: x-large;'><%= order.order %></p>
				<p>from <%= order.restaurant %></p>
			</div>
		<% end %>
	</div>
</div>