<h2>Delivery Location</h2>
<div id='map'>
	<div id='current_location'>
		<p>
			Lat:  <span id='lat' ><%= @current_location['lat' ]%></span>, 
			Long: <span id='long'><%= @current_location['long']%></span>
		</p>
	</div>
</div>
